#carouselExampleCaptions{
  margin-top: 80px;
  transition: all 2s;
}
.carousel-inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.carousel-item{
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
}
h1 , h3, a{
  color: black;
}
.carousel-item h3 a:hover{
  color: #f2db9b;
}
.section-btn {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #29ca8e;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  transition: 0.5s;
}

.section-btn:hover {
  background: #29ca8e;
  border-color: transparent;
}
