<section id="footer" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="footer-info">
          <div class="section-title">
            <h2>Headquarter</h2>
          </div>
          <address>
            <p>Digital Park<br>Mihai Viteazul 15,Chisinau</p>
          </address>

          <ul class="social-icon">
            <li><a style="cursor: pointer" class="fa fa-facebook-square" attr="facebook icon"></a></li>
            <li><a style="cursor: pointer" class="fa fa-instagram"></a></li>
          </ul>

          <div class="copyright-text">
            <p>Copyright &copy; 2020 Iello</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="footer-info">
          <div class="section-title">
            <h2>Contact Info</h2>
          </div>
          <address>
            <p>+37369880998</p>
            <p><a href="mailto:mail.co">iello@email.co</a></p>
          </address>

          <div class="footer_menu">
            <h2>Quick Links</h2>
            <ul>
              <li><a style="cursor: pointer">Career</a></li>
              <li><a style="cursor: pointer">Investor</a></li>
              <li><a style="cursor: pointer">Terms & Conditions</a></li>
              <li><a style="cursor: pointer">Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="footer-info newsletter-form">
          <div class="section-title">
            <h2>Newsletter Signup</h2>
          </div>
          <div>
            <div class="form-group">
              <form action="#" method="get"  #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
                <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="" ngModel>
                <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
              </form>
              <span><sup>*</sup> Please note - we do not spam your email.</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
</section>
