section {
  position: relative;
  padding: 100px 0;
}
#footer {
  background-color: #252020;
  padding: 50px;
}

#footer .section-title {
  padding-bottom: 5px;
}

#footer h2{
  font-size: 20px;
}

#ooter a,
#footer p {
  color: white;
}

#footer strong {
  color: white;
}

#footer address p {
  margin-bottom: 0;
}

#footer .social-icon {
  margin-top: 25px;
}

.footer-info {
  margin-right: 2em;
}

.footer-info h2 , h6{
  color: #ffffff;
  padding: 0;
}

.footer_menu h2 {
  margin-top: 2em;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
}

.footer_menu li {
  color: white;
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
}

.newsletter-form .form-control {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #303030;
  height: 50px;
  margin: 5px 0;
}

.newsletter-form .submit-btn {
  background: transparent;
  border: 1px solid #29ca8e;
  border-radius: 50px;
  display: block;
  margin-top: 10px;
  outline: none;
  width: 50%;
}


.newsletter-form .submit-btn:hover {
  background: #29ca8e;
  border-color: transparent;
}
span {
  color: white;
  display: block;
}
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}

.social-icon li a {
  border-radius: 100px;
  color: #29ca8e;
  font-size: 35px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
  background: #29ca8e;
  color: #ffffff;
}
