section {
  position: relative;
  padding: 100px 0;
}
#about{
  transition: all 2s;
}
.about-info .fas{
  height: 34px;
  width: 34px;
  background-color: #29ca8e;
  color: #252020;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  margin-right: 11px;
}
.about-info h2{
  text-align: center;
}
