<!-- Header / Meniul -->
<section id="nav">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="row">
        <div class="container-fluid">
          <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <!--insigna brandului-->
            <i class="fas fa-american-sign-language-interpreting"></i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    (click)="isMenuCollapsed = !isMenuCollapsed">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
<!--                  <a class="nav-link" [routerLink]="" fragment="nav"> Home </a>-->
                  <a class="nav-link" (click)="onClickScroll('nav')" routerLink="first"> Home </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
<!--                  <a class="nav-link" [routerLink]="" fragment="about"> About </a>-->
                  <a class="nav-link" (click)="onClickScroll('about')" routerLink="."> About </a>
                <li class="nav-item" routerLinkActive="active">
<!--                <a class="nav-link" [routerLink]="" fragment="team"> Team </a>-->
                  <a class="nav-link" (click)="onClickScroll('team')" routerLink="."> Team </a>
              </li>
                <li class="nav-item" routerLinkActive="active">
<!--                  <a class="nav-link" [routerLink]="" fragment="form"> Reviews </a>-->
                  <a class="nav-link" (click)="onClickScroll('form')" routerLink="." > Reviews </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
<!--                  <a class="nav-link" [routerLink]="" fragment="map"> Map </a>-->
                  <a class="nav-link" (click)="onClickScroll('map')" routerLink="."> Map </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
<!--                  <a class="nav-link" [routerLink]="" fragment="footer"> Contact </a>-->
                  <a class="nav-link" (click)="onClickScroll('footer')" routerLink="." > Contact </a>
                </li>
              </ul>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right float-right row no-gutters py-1">
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/wish">
                    <!--insigna wish list-->
                    <i class="icon-sm  fa fa-heart"></i>Favorites
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">
                         <!--insigna telefonului-->
                    <i class="fa fa-phone"></i>+0987654321
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>

