section {
  position: relative;
  padding: 100px 0;
}
.form{
  border: 15px;
  padding: 50px;
  margin: 20px;
}
.container-fluid{
    background-color: transparent;
}
.section-title{
    text-align: center;
}
input[type='submit']{
    border-radius: 50px;

}
input[type='submit']:hover{
    background: transparent;
    border-color: white;

}
img{
  width: auto;
}
/*.contact-image{*/
/*  position: relative;*/
/*  animation-name: feedback;*/
/*  animation-duration: 3s;*/
/*  animation-delay:1s;*/
/*  animation-fill-mode: forwards;*/
/*  animation-iteration-count: infinite;*/
/*}*/
/*@keyframes feedback {*/
/*  !*from{top: 0px;}*!*/
/*  !*to {top:50px;}*!*/
/*  0% {top: 0px;}*/
/*  50% {top: 50px;}*/
/*  100% {top: 0px;}*/
/*}*/
h3 , small {
  text-align: center;
  display: block;
  color:  #29ca8e;
}
.error{
  color: red;
}

