.entry-form{
  background: #252020;
  border-radius: 30%;
  text-align: center;
  padding: 6em;
  width: 500px;
  height: 500px;
}
.entry-form h2{
  color: white;
  margin: 0;
}
.entry-form .form-control{
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  margin: 10px 0;
}
.entry-form .submit-btn{
  background-color: white;
  border-radius: 50px;
  border: 0;
  color: #252020;
  width: 150px;
  height: 50px;
  margin: 30px auto 10px;
}
.entry-form .submit-btn:hover{
  background: #29ca8e;
  color: #ffffff;
}
form span {
  color: white;
}
