<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
        <app-about></app-about>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
        <app-cards></app-cards>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
        <app-map></app-map>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-forms></app-forms>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-contacts></app-contacts>
    </div>
  </div>
</div>



