<section id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="imageUrl" class="card-img-top" alt="Coding">
          <div class="card-body">
            <h5 class="card-title">Our Team</h5>
            <p class="card-text">This is the best team that can teach you to code</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="imageUrl" class="card-img-top" alt="Coding">
          <div class="card-body">
            <h5 class="card-title">Our Team</h5>
            <p class="card-text">This is the best team that can teach you to code</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="imageUrl" class="card-img-top" alt="Coding">
          <div class="card-body">
            <h5 class="card-title">Our Team</h5>
            <p class="card-text">This is the best team that can teach you to code</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
